---
layout: tag
taxonomy: outreach
title: "Project Overview"
permalink: /project/
classes: wide
sidebar: true
author_profile: true
---

<!-- Site map page to branch off to posts of each activity we did -->

<div>
    {% for post in site.documents %}
        {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
        {% if year != written_year %}
            <h2 id="{{ year | slugify }}" class="archive__subtitle">{{ year }}</h2>
            <!-- ^ could sort by weeks to represent the weeks we did each thing when we were here maybe? -->
            {% capture written_year %}{{ year }}{% endcapture %}
        {% endif %}
        {% include archive-single.html %}
    {% endfor %}
</div>

<!-- TODO: add video here -->