<label for="statistics">Choose a dataset table:</label>
<select name="statistics" id="statistics">
</select>

<!-- <label for="dataset">Choose a dataset:</label>
<select name="dataset" id="dataset">
</select> -->

<table>
    <tbody>
        <tr>
        <th>
            Statistics
        </th>
        </tr>
        <tr>
        <td>
            CUSEC
        </td>
        <td id="CUSEC">
            Stat number
        </td>
        </tr>
    </tbody>
    <tbody  id="row_container">
        <tr>
            <td  colspan="2" style="width:100%">
                Please select a neighborhood to get started...
            </td>
        </tr>
    </tbody>
</table>