<label id="collection-label" class="translatable" for="collection">Choose a Collection:</label>
<select name="collection" id="collection">
    <!-- value is what is used to find the collection in Firestore -->
    <option value="City" id="iqp-collection" class="translatable">Street Survey Data</option>
    <option value="Zones" id="ine-collection" class="translatable">INE Public Data</option>
    <option value="Beneficiary Data" id="beneficiary-collection" class="translatable">Data from Social Program Beneficiaries</option>
    <option value="Heat Indices" id="heat-indices-collection" class="translatable">Heat Indices</option>
</select>

<label id="dataset-label" class="translatable" for="statistics">Choose a Dataset:</label>
<select name="statistics" id="statistics"></select>

<table>
    <tbody>
        <tr>
        <th id="statistics-header" class="translatable">
            Statistics
        </th>
        </tr>
        <tr>
        <td>
            CUSEC
        </td>
        <td id="CUSEC">
            -
        </td>
        </tr>
        <!-- For spacing -->
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <tbody  id="row_container">
        <tr>
            <td id="initial-row" class="translatable" colspan="2" style="width:100%">
                Please select a neighborhood to get started...
            </td>
        </tr>
    </tbody>
</table>

<br>

<!-- Map Legend -->
<table>
    <tbody>
        <tr>
            <td id="minimum-label" class="translatable">Min</td>
            <td></td>
            <td></td>
            <td></td>
            <td id="maximum-label" class="translatable" style="text-align: right">Max</td>
        </tr>
        <tr id="label-row">
            <th id="left-label">f</th>
            <th>f</th>
            <th>f</th>
            <th>f</th>
            <th>f</th>
            <!-- <th id="right-label" style="text-align: right"></th> -->
        </tr>
        <tr id="gradient">
            <td class="boxes first-box"></td>
            <td class="boxes"></td>
            <td class="boxes"></td>
            <td class="boxes"></td>
            <td class="boxes"></td>
        </tr>
    </tbody>
</table>
<!-- 
<style>
    .container {
      width: 500px;
      margin: 50px auto;
      text-align: center;
      font-family: Arial, sans-serif;
    }

    .labels {
      display: flex;
      justify-content: space-between;
      margin-bottom: 8px;
    }

    .gradient-bar {
      height: 40px;
      border-radius: 6px;
      background: linear-gradient(to right, red, blue);
    }
  </style>
<table class="color-bar">
    <tbody>
    </tbody>
</table>

<div class="color-container">
  <div class="color-labels">
    <span>Label 1</span>
    <span>Label 2</span>
    <span>Label 3</span>
    <span>Label 4</span>
    <span>Label 5</span>
  </div>
  <div class="gradient-bar"></div>
</div> -->
<!-- ^may be nicer way -->

<!-- Toggle sections and city view -->
<!-- This should be locked on for certain datasets, but toggleable for the government data -->
<span>
    <span id="Section View" class="translatable">Section View</span>
    <label class="switch">
        <input type="checkbox" id="toggle">
        <span class="slider" id="slider-span"></span>
    </label>
    <span id="City View" class="translatable">City View</span>
    <p id="slider-note-container">*<span id="slider-note" class="translatable">Othre view not available for this collection</span></p>
</span>

<p><a id="sources-link" target="_blank" href="/sources" class="translatable">Link to Sources</a></p>

<button id="download-button" class="translatable">Download All Data</button>