<label id="collection-label" class="translatable" for="collection">Choose a dataset:</label>
<select name="collection" id="collection">
    <option value="Zones">Gov Data?</option>
    <option value="Amanda">Previous Data?</option>
    <option value="City">Our own data, aggregated</option>
</select>

<label id="dataset-label" class="translatable" for="statistics">Choose a table:</label>
<select name="statistics" id="statistics"></select>

<table>
    <tbody>
        <tr>
        <th id="statistics-header" class="translatable">
            Statistics
        </th>
        </tr>
        <tr>
        <td>
            CUSEC
        </td>
        <td id="CUSEC">
            -
        </td>
        </tr>
        <!-- For spacing -->
        <tr>
            <td></td>
            <td></td>
        </tr>
    </tbody>
    <tbody  id="row_container">
        <tr>
            <td id="initial-row" class="translatable" colspan="2" style="width:100%">
                Please select a neighborhood to get started...
            </td>
        </tr>
    </tbody>
</table>

<br>

<!-- Map Legend -->
<table>
    <tbody>
        <tr>
            <td id="minimum-label" class="translatable">Min</td>
            <td id="maximum-label" class="translatable" style="text-align: right">Max</td>
        </tr>
        <tr>
            <th id="left-label"></th>
            <th id="right-label" style="text-align: right"></th>
        </tr>
        <tr id="gradient">
            <td id="L" class="boxes"></td>
            <td id="R" class="boxes"></td>
        </tr>
    </tbody>
</table>

<!-- Toggle sections and city view -->
 <!-- This should be locked on for certain datasets, but toggleable for the government data -->
<!-- <span>
    <span id="Section View" class="translatable">Section View</span>
    <label class="switch">
        <input type="checkbox" id="toggle">
        <span class="slider"></span>
    </label>
    <span id="City View" class="translatable">City View</span>
</span> -->