---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* For the Map Legend */
input[type=radio] {
  appearance: none;
  background-color: #fff;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 50%;
}

input[type=radio]:checked {
  background-color:purple;
}

.leaflet-control-layers-base {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; font-size: 1.25em;
}

.leaflet-control-layers-overlays {
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace; font-size: 1.25em;
}

#map {
  height: 650px;
  width: 100%; 
}

/* For the Statistics Table */
table{
  display: flex;
}

#main {
  margin-inline: 1em;
  max-width: 100%;
}


@media (min-width: 80em) {
  .archive, .page {
    width: calc(100% - 400px);
  }
}

.page__footer div{
  margin-top: 1em;
}

.page__footer footer{
  margin-top: 1em;
}

.sidebar {
  font-size: 16px;
}

// boxes in the legend table
#left-label {
  padding: 0px;
}

th {
  padding: 0px;
  text-align: center;
  // padding-left: 40px;
}

td.first-box{
  // border-left: 3px solid black;
}

.boxes {
  // width: 1em;
  padding: 0px;
  padding-left : 28px;
  padding-right: 28px;
  // border-right: 3px solid black;
  font-weight: bold;
  color: white;
  height: 1.5em;
}

.color-bar {
  margin-left: 0.5em;
}

// always keep it opaque
.sidebar {
  opacity: 1;
  min-width: 23em;
}

// style the slider button
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: -4px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(46px);
  -ms-transform: translateX(46px);
  transform: translateX(46px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

#lang-button {
  padding: 10px;
  // match color with footer
  background-color: rgb(241.7, 242.5, 243.1);
  border-radius: 5px;
}

#slider-note-container {
  margin-top: 0.5em;
  color: red;
}

.masthead__inner-wrap {
  margin-left: 5em;
  max-width: 1440px;
}

.masthead {
  border: 3px solid rgb(241.7, 242.5, 243.1);
}


.legend {
    padding: 6px 8px;
    // background: white;
    background: rgba(255,255,255,0.8);
    line-height: 18px;
    color: #555;
}
label.legend {
  display: inline;
    background: transparent;
}
// .legend i {
//     width: 18px;
//     height: 18px;
//     float: left;
//     margin-right: 8px;
//     opacity: 0.7;
// }

.hanging-indent {
  padding-left: 36px;  /* Move entire block right */
  text-indent: -36px;  /* Pull first line back left */
}